<%= tag.div(flash[:alert], class: "alert alert-danger") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "alert alert-success") if flash[:notice] %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title mb-4 text-center">ログイン</h3>

          <%= form_with url: session_path, local: true do |f| %>
            <div class="mb-3">
              <%= f.label :email_address, "Email", class: "form-label" %>
              <%= f.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "name@example.com", value: params[:email_address], class: "form-control #{'is-invalid' if flash[:alert]}" , aria: { describedby: ('emailHelp' if flash[:alert]) } %>
              <% if flash[:alert] %>
                <div id="emailHelp" class="invalid-feedback">
                  <%= flash[:alert] %>
                </div>
              <% end %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-control #{'is-invalid' if flash[:alert]}" , aria: { describedby: ('passwordHelp' if flash[:alert]) } %>
              <% if flash[:alert] %>
                <div id="passwordHelp" class="invalid-feedback">
                  <%= flash[:alert] %>
                </div>
              <% end %>
            </div>

            <div class="d-grid">
              <%= f.submit "Sign in", class: "btn btn-primary btn-lg" %>
            </div>
          <% end %>

          <div class="mt-3 text-center">
            <%= link_to "Forgot password?", new_password_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
