<div class="container mt-4">
    <div class="row g-3">
        <% if @books.present? %>
            <%= form_with url: books_path, method: :get, local: true, class: "d-flex mb-3" do |f| %>
            <%= f.text_field :q, value: params[:q], class: "form-control me-2", placeholder: "タイトル・ISBN・著者名で検索" %>
            <%= f.submit "検索", class: "btn btn-primary" %>
            <% end %>
            <% @books.each do |book| %>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title mb-2"><%= link_to book.title, book_path(book), class: "stretched-link" %></h5>
                            <h6 class="card-subtitle mb-3 text-muted"><%= book.publisher %></h6>
                            <% if book.authors.any? %>
                                <div class="mt-auto">
                                    <small class="text-secondary">著者</small>
                                    <ul class="list-unstyled mb-0">
                                        <% book.authors.each do |author| %>
                                            <li><%= author.name %></li>
                                        <% end %>
                                    </ul>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <div class="col-12">
                <div class="alert alert-info">No books found.</div>
            </div>
        <% end %>
    </div>
</div>