<div class="container mt-4">
    <div class="row">
        <% if @book.present? %>
            <div class="col-12 col-lg-8">
                <h1 class="h3 mb-3"><%= @book.title %></h1>
                <dl class="row">
                    <dt class="col-sm-3">ISBN</dt>
                    <dd class="col-sm-9"><%= @book.isbn %></dd>

                    <dt class="col-sm-3">出版社</dt>
                    <dd class="col-sm-9"><%= @book.publisher.presence || '-' %></dd>

                    <% if @book.authors.any? %>
                        <dt class="col-sm-3">著者</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled mb-0">
                                <% @book.authors.each do |author| %>
                                    <li><%= author.name %></li>
                                <% end %>
                            </ul>
                        </dd>
                    <% end %>

                    <dt class="col-sm-3">在庫</dt>
                    <dd class="col-sm-9"><%= "#{@book.stock_count}冊" %></dd>
                </dl>
            </div>
        <% else %>
            <div class="col-12">
                <div class="alert alert-info">No book found.</div>
            </div>
        <% end %>
    </div>
</div>